:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  --background: #ccc;
  --child-padding: 10px;
}

html
{
}

body{
  box-sizing: border-box;
  margin: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
  background-color: var(--background);
  line-height: 1.4;
}

.wrapper
{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;

}

.main-nav ul
{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;

  list-style: none;
}

.main-nav ul a
{
  display: block;
  box-shadow: var(--shadow);
  background-color: var(--primary);
  color: var(--dark);
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.main-nav ul a:hover {
  background: var(--dark);
  color: var(--light);
}

.button{
  background-color: var(--dark);
  color: var(--light);
  text-decoration: none;
  padding: 10px;
  margin: 10px;

}

img{
  max-width: 95%;
}

.hightlight
{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  align-items:center;
//  justify-contain: stretch;
  //align-content: stretch;
  grid-template-areas:
  "intro intro deal1"
  "intro intro deal2"
}

.intro{
  grid-area: intro;
  justify-self: stretch;
  align-self: stretch;
  min-height: 400px;
  background-image: url('images/intro.jpeg');
  background-position: center;
  background-size: cover;
  box-shadow: var(--shadow);
}

.intro > *{
  padding: var(--child-padding);
}

.intro h1
{
  font-size: 4rem;
  color: var(--light);
}

.intro p
{
  font-size: 1.3rem;
  color: var(--light);
}
.deal{
  background-color: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  align-items: center;
  justify-items: center;
}

.deal .price
{
  font-size: 2.5rem;
}

.deal1{
  grid-area: deal1;
  justify-self: stretch;
  align-self: stretch;
}

.deal2{
  grid-area: deal2;
  justify-self: stretch;
  align-self: stretch;
}

.about-us-header{
  text-align: center;
}

.about-us{
  box-shadow: var(--shadow);
}

.about-us > *
{
  padding: var(--child-padding);
}
.services{
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  grid-template-areas:
  "pt cmp gf rl"

}
.services-header{
  text-align: center;
}
.services h3{
  text-align: center;
  padding: 10px;
}

.service{
  display: grid;
  box-shadow: var(--shadow);
  align-items: center;
  justify-items: center;
}

.service > *{
  padding: var(--child-padding);
}

.pt{
  grid-area: pt;
  justify-self: stretch;
  align-self: stretch;
}

.cmp{
  grid-area: cmp;
  justify-self: stretch;
  align-self: stretch;
}

.gf{
  grid-area: gf;
  justify-self: stretch;
  align-self: stretch;
}

.rl{
  grid-area: rl;
  justify-self: stretch;
  align-self: stretch;
}

@media (max-width: 700px) {
  .hightlight{
    grid-template-areas:
    "intro intro"
    "deal1 deal2"
  }
  .services{
    grid-template-areas:
    "pt cmp"
    "gf rl"
  }
  .main-nav ul{
    grid-template-columns: 1fr;
  }
}
@media (max-width: 500px) {
  .hightlight{
    grid-template-areas:
    "intro"
    "deal1"
    "deal2"
  }

  .services{
    grid-template-areas:
    "pt"
    "cmp"
    "gf"
    "rl"
  }
}
